
body{
    background:linear-gradient(
        67deg,
        #32a852,
        #349ba8,
        #343ca8,
        #8734a8,
        #a8324c,
        #a86132,
        #c0d128
      );
}

.container{
    display: flex;
    max-width: 1700px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}

img{
    width: 250px;
    height: 200px;
    padding: 30px;
}
h1{
    text-align: center;
}